* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    margin-bottom: 50px;
}

.TmpA {
    color: #ffd966;
    text-decoration: none;
}

    .TmpA:hover {
        text-decoration: underline #ffd966;
    }

@font-face {
    font-family: 'Hanken-Book';
    src: url(FontFamilies/Hanken-Book.ttf);
}

@font-face {
    font-family: 'Gauthier';
    src: url(FontFamilies/Gauthier.ttf);
}

@font-face{
    font-family:'Plumage';
    src:url(FontFamilies/Plumage.ttf);
}

h4 {
    font-size: 2em;
    letter-spacing: 2px;
    font-family: Hanken-Book;
}

@font-face {
    font-family: 'Sarina';
    src: url(FontFamilies/Sarina.ttf)
}

.branchTitle {
    text-align: center;
    color: dodgerblue;
    font-size: 1.5em;
    position: relative;
    margin-top: 70px;
    margin-bottom: 60px;
    font-family: Sarina
}

.DefaultLike {
    color: white;
}

.StartContainer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

    .StartContainer .container .box {
        box-sizing: border-box; /*防止鼠标悬浮在盒子上时因白边而向外扩张*/
        position: relative;
        width: 280px;
        height: 350px;
        margin: 60px;
        padding: 20px 5px;
        background-color: rgba(255,255,255,0.15);
        border-radius: 15px;
    }

        .StartContainer .container .box:hover {
            background-color: #FF007F;
            border: white 1.5px solid
        }

    .StartContainer .container .FlexStyle {
        color: white;
        text-decoration: none;
    }

.StartContainer p {
    text-indent: 16px;
    font-family: Gauthier;
}

.self-def-container {
    display: flex;
    justify-content: left;
    width: 300px;
}

    .self-def-container .boxtitle #TitleImageLike {
        position: relative;
        left: 85px;
        top: 95px;
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }

    .self-def-container .boxtitle #TitleLike {
        position: relative;
        width: 900px;
        height: 130px;
        padding-left: 10px;
        margin-left: 100px;
        margin-top: 80px;
        border-left: #ffd966 3px solid;
    }

.IntroContainer .container {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;
}

    .IntroContainer .container .box {
        position: relative;
        background-color: rgba(255,255,255,0.15);
        border: white 1.5px solid;
        width: 80%;
        margin: auto;
        border-radius: 15px;
        padding: 20px;
    }

        .IntroContainer .container .box h3 {
            color: #ffd966;
            font-size: 1.8em;
            font-family:Plumage;
        }

        .IntroContainer .container .box ul li {
            list-style: none;
        }

        .IntroContainer .container .box p {
            margin: 12px;
        }
